include *.txt
include *.md
include *.pkl
recursive-include ./harit_model *
recursive-exclude ./harit_model/dataset/New* *
recursive-exclude ./harit_model/dataset/test *

include harit_model/trained_models/*.h5
include harit_model/VERSION
include harit_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
